<router-outlet />


<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="name" formControlName="name" required>
    @if (myForm.controls.name.errors) {
      <mat-error>Name is required</mat-error>
    }
  </mat-form-field>
  <div formArrayName="items">
    @for (item of myForm.controls.items.controls; track item; let i = $index) {
      @if (editable == i) {
        <div [formGroupName]="i">
          <mat-form-field>
            <input matInput placeholder="calle" formControlName="calle">
            @if (hasError(item, 'calle')) {
              <mat-error>Calle is required</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="numero" formControlName="numero">
            @if (hasError(item, 'numero')) {
              <mat-error>Número is required</mat-error>
            }
          </mat-form-field>

          <button mat-icon-button (click)="acceptItem()">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button (click)="cancelItem()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      } @else {
        <div>
          <label>{{getInfo(item)}}</label>
          <button mat-icon-button (click)="editItem(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="removeItem(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    }
  </div>
  <div>
    <button mat-icon-button (click)="addItem()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </div>
</form>

